<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frontend Mentor | Interactive pricing component</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="index.css" />

    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <a
      class="view-source"
      href="https://www.github.com/charliethomson/interactive-pricing"
    >
      View source code
    </a>
    <div class="bg-container">
      <img src="./images/bg-pattern.svg" alt="" id="img-bg" />
    </div>
    <header>
      <img src="./images/pattern-circles.svg" alt="" id="img-circles" />
      <h1 class="dark">Simple, traffic-based pricing</h1>
      <h3>
        <span>Sign-up for our 30-day trial.</span>
        <span>No credit card required</span>
      </h3>
    </header>
    <main>
      <section class="top">
        <h3 class="num-page-views">{{numPageViews}} pageviews</h3>
        <input
          type="range"
          name="price-slider"
          id="price-slider"
          min="0"
          max="3600"
          v-model="sliderValue"
        />
        <div class="price">
          <h2 class="dark">${{price}}</h2>
          <h4>/ {{billingCycle}}</h4>
        </div>
        <div class="toggle">
          <span>Monthy Billing</span>
          <span
            class="switch"
            :class="{enabled: !monthlyBilling}"
            @click="toggleBillingCycle"
          >
            <span class="button"></span>
          </span>
          <span class="yearly"> Yearly Billing </span>
        </div>
      </section>
      <div class="sep"></div>
      <section class="bottom">
        <ul>
          <li v-for="itemText in checkedItems" :key="itemText">
            <img src="/images/icon-check.svg" alt="" class="check-img" />
            {{itemText}}
          </li>
        </ul>
        <a href="#" class="button">Start my trial</a>
      </section>
    </main>

    <div class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">
        Frontend Mentor
      </a>
      . Coded by
      <a href="https://charliecthomson.com" target="_blank">
        Charlie Thomson
      </a>
      .
    </div>
  </body>
</html>
